/ScientificSocialNetwork-Backend/build.sbt
build.sbt
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.sbtserver
/bin/
/.cache-main
/.cache-tests
project/.sbtserver
project/idea.sbt
.DS_Store
build.sbt
