@(detail: ForumPostDetail, forumCommentForm: play.data.Form[ForumComment])
@import helper._

@main("Detailed Forum Post Page") {
<head>
	<link href='@routes.Assets.versioned("css/bootstrap.min.css")' rel="stylesheet"/>
	<link rel="stylesheet" href='@routes.Assets.versioned("css/forum.css")'>
	<link rel="stylesheet" href='@routes.Assets.versioned("css/prism.css")'>
	<link rel="stylesheet" href='@routes.Assets.versioned("css/detail.css")'>
	<script src='@routes.Assets.versioned("js/jquery-1.1.js")'></script>
	<script src='@routes.Assets.versioned("js/forum-post.js")'></script>
	<script src='@routes.Assets.versioned("js/prism.js")'></script>
</head>

<div class="container">
  <div class="row content">
    <div class="col-md-12">
      <h1 class="text-center">@detail.post.getTitle()</h2>
      <div class="heart"></div>
      <script type="text/javascript">
        $(".heart").on('click', function(){
          $(this).toggleClass('animating');
        });
      </script>
      <hr>
      <h5 class="pull-right"><span class="glyphicon glyphicon-time"></span> Post By @detail.post.getUserName() at @detail.post.getTimestamp()</h5>
      <br>
      <br>
      <h4 class="text-info">@detail.post.getContent()</h2>
    </div>
  </div>
  <hr>
  <div class="row">
  
  
  @for(comment <- detail.comments) {
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-muted">@comment.getUserName()    <span class="glyphicon glyphicon-time"></span> @comment.getTimestamp()</h4>
        </div>
        <div class="panel-body">
          <h4>@comment.getContent()</h4>
            <div class="comment-vote pull-right">
              <a href="javascript:void(0)" data-act="voteup" data-commentId="@comment.getCId()" data-id="@detail.getPost().getPostId()" class="vote-thumb vote-up"></a>
              <p class="vote-num">@comment.getThumb</p>
              <a href="javascript:void(0)" data-act="votedown" data-commentId="@comment.getCId()" data-id="@detail.getPost().getPostId()" class="vote-thumb vote-down"></a>
            </div>
          <!-- button class="btn btn-default pull-right" href="#replyTo">Reply</button-->
        </div>
    </div>
  </div>
  }
      
     <div class="row">
		<form class="form" role="form" action="@routes.ForumController.addComment(detail.getPost().getPostId())"
		enctype="multipart/form-data" method="POST">
			<div class="form-group">
				<textarea class="form-control" rows="5" name="content"></textarea>
				<button type="submit" class="btn btn-primary mt-btn" >Comment</button>
			</div>
		</form>
	</div>

      <div class="row">
          <form class="form" role="form" action="@routes.ForumController.editPost(detail.getPost().getPostId())"
          enctype="multipart/form-data" method="POST">
              <div class="form-group">
                  <button type="submit" class="btn btn-primary mt-btn" >Edit</button>
              </div>
          </form>
      </div>
	
	<script>
		function assignReplyTo(replyTo) {
			document.getElementById("replyTo").value = replyTo;
		}
	</script>
	
    </div>
  </div>
</div>


}