@(usergroups: List[UserGroup])
@import helper._

@main("Most Popular UserGroups") {
    <h1>@usergroups.size() Your Groups</h1>
    <table class="table table-striped table-bordered table-condensed ex2 tablesorter" id = "csTable">
    <thead>
        <tr class="text-center">
            <th style = "vertical-align: middle;" class="col-md-5">Group Name</th>
            <th style = "vertical-align: middle;" class="col-md-3">Group Description</th>
            <th style = "vertical-align: middle;" class="col-md-3">Group Accesss</th>
            <th style = "vertical-align: middle;" class="col-md-1">Group Topic</th>
            </tr>
        </thead>
        <tbody>
            @for(usergroup <- usergroups) {
                <tr>

                    <td>@usergroup.getGroupName()</td>

                    <td>@usergroup.getGroupDescription()</td>
                    
                    <td>@usergroup.getAccess()</td>

                    <td>@usergroup.getTopic()</td>
                </tr>
            }
    </tbody>
    </table>
}
