@(usergroups: List[UserGroup])
@import helper._

<html>
<body>

<div h1>Your Groups</h1>
            @if(usergroups != null) {
                <table>
                   @for( i <- 0 until usergroups.size) {
			           <li class="list-group-item list-view outer-list">
				            <h4><span class="red">&#35; @(i + 1)</span> &#64; @(usergroups(i).getGroupName)</h4>
				            <div class="row">
					            <div class="col-md-2">
                                     <div class="col-md-10">
                                     	<p>@usergroups(i).getGroupDescription</p>
					                 </div>						
					            </div>
				            </div>
			           </li>
		            }
                </table>
            } else {
                <p>You are not the admin of any group!</p>
            }
        </div>
    </body> 
</html>
