<!-- Header -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="padding-bottom: 0;" href="/">
					<div>
					Scientific Social Network
					</div>
				</a>
			</div>
			<div class="navbar-collapse collapse" style="height:">
				<ul class="nav navbar-nav navbar-right">
				
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Publication<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="@routes.PublicationController.getAllPublications()">Publication List</a></li>
							<li><a href="@routes.PublicationController.publicationPublish()">Publish Paper</a></li>
							<li><a href="@routes.PublicationController.getMostPopularPublications(1)">Most Popular Publications By View Count</a></li>
							<li><a href="@routes.PublicationController.getMostPopularPublications(2)">Most Popular Publications By Comment Count</a></li>
							<li><a href="@routes.PublicationController.publicationSearch()">Search Publication</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="@routes.TestController.getPostPage()">Create Forum Post</a></li>
							<li><a href="@routes.ForumController.getPosts">See All Posts</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="@routes.UserGroupController.createGroupPage()">Create Group</a></li>
<!-- 							<li><a href="@routes.ForumController.getPosts">See All Posts</a></li>
 -->						</ul>
					</li>

					@if(!session.get("email")) {
						<form class="navbar-form navbar-right" action="@routes.UserController.login()">
							<button type="submit" class="btn btn-success">Log in</button>
						</form>
					} else {
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Space<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="@routes.UserController.getProfile()">My Profile</a></li>
								<li><a href="@routes.UserGroupController.getGroups()">My Groups</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">@session.get("email")<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="@routes.UserController.logout()">Log out</a></li>
							</ul>
						</li>
					}
					
				</ul>
			</div>
		</div>
	</div>