@(user: User)
@import helper._

@main("User Profile"){
    <div style="text-align: center">
    <h1> User Profile Information</h1>
    <img src="/assets/img/user.png" style="width: 200px" />
    <h4> First Name     : @user.getFirstName() </h4>
    <h4> Last Name      : @user.getLastName() </h4>
    <h4> Email          : @user.getEmail() </h4>
    <h4> Mailing Address: @user.getMailingAddress() </h4>
    <h4> Phone Number   : @user.getPhoneNumber() </h4>
    <h4> Research Fields: @user.getResearchFields() </h4>
    </div>
}