@(publication: Publication, comments: List[PublicationComment], commentReply: List[List[PublicationReply]], tagForm: Form[Tag])

@import helper._

@main("Publication Panel") {
	<head>
		<link href='@routes.Assets.at("css/bootstrap.min.css")' rel="stylesheet"/>
		<link rel="stylesheet" href='@routes.Assets.at("css/forum.css")'>
		<link rel="stylesheet" href='@routes.Assets.at("css/prism.css")'>
		<link rel="stylesheet" href='@routes.Assets.at("css/detail.css")'>
		<script src='@routes.Assets.at("js/jquery-1.1.js")'></script>
		<script src='@routes.Assets.at("js/forum.js")'></script>
		<script src='@routes.Assets.at("js/prism.js")'></script>
	</head>
    <h1>Publication Metadata</h1>
	<table class="table table-striped table-bordered table-condensed ex2 tablesorter" id = "csTable">
		<tbody>

			<tr>
				<th style = "vertical-align: middle;" class="col-md-3">Paper Title</th>
				<td><span class="@publication.getTitle editable" data-name='paperTitle'>
				@publication.getTitle()</span></td>
			</tr>
			<tr>
				<th style = "vertical-align: middle;" class="col-md-3">Authors</th>
				<td><span class="@publication.getId() editable" data-name='authors'>
				@publication.getAuthors</span></td>
			</tr>
			<tr>
				<th style = "vertical-align: middle;" class="col-md-2">Conference Name</th>
				<td><span class="@publication.getTitle() editable" data-name='publicationChannel'>
						@publication.getConferenceName() </span></td>
			</tr>
			<tr>
				<th style = "vertical-align: middle;" class="col-md-1">Pages</th>
				<td><span class="@publication.getTitle() editable" data-name='year'>
						@publication.getPages() </span></td>
			</tr>
			<tr>
				<th style = "vertical-align: middle;" class="col-md-1">Date</th>
				<td><span class="@publication.getTitle() editable" data-name='year'>
					@publication.getDate </span></td>
			</tr>
			<tr>
				<th style = "vertical-align: middle;" class="col-md-1">Year</th>
				<td><span class="@publication.getTitle() editable" data-name='year'>
				@publication.getYear() </span></td>
			</tr>
			<tr>
				<th style = "vertical-align: middle;" class="col-md-1">Url</th>
				<td><span class="@publication.getTitle() editable" data-name='year'>
				<a href = "@publication.getUrl()">@publication.getUrl()</a>
				 </span></td>
			</tr>
			<tr>
				<th style = "vertical-align: middle;" class="col-md-1">Tag</th>
				<td><span class="@publication.getTitle() editable" data-name='year'>
				@for(tag <- publication.getTags()) {				
					<code><a href="/publication/getPublicationsOnOneTag/@tag.getTagName()">@tag.getTagName()</a></code>
				}
				 </span></td>
			</tr>
		</tbody>
	
	</table>

	@helper.form(action = routes.PublicationController.createTag(publication.getId())) {
       <div class="row"> 
        <fieldset>
            @inputText(
                tagForm("tagName"), 
                '_label -> "Tag",                 
                '_error -> tagForm.globalError,
                'class -> "form-control"                            
            )
        </fieldset>
		<div class="actions">
	         	<input type="submit" class="btn primary" value="Add a tag">
	         	<a href="" class="btn">Cancel</a>
	    </div> 
	    </div>

	}
	

	<div class="row">
		<h3>Comments:</h3>
		<ul class="list-group list-view">
		@for( i <- 0 until comments.size) {
			<li class="list-group-item list-view outer-list">
				<h4><span class="red">&#35; @(i + 1)</span> &#64; @(comments(i).getUserName) <small class="right">@(new Date(comments(i).getTimestamp).toString)</small></h4>
				<div class="row">
					<div class="col-md-10">
						<p>@comments(i).getContent</p>
					</div>
					<div class="col-md-2">
						<div class="comment-vote">
							<a href="javascript:void(0)" data-act="voteup" data-commentId="@comments(i).getId" data-id="@publication.getId" class="vote-thumb vote-up"></a>
							<p class="vote-num">@comments(i).getThumb</p>
							<a href="javascript:void(0)" data-act="votedown" data-commentId="@comments(i).getId" data-id="@publication.getId" class="vote-thumb vote-down"></a>
						</div>
					</div>
				</div>
				<form class="form" action="@routes.PublicationController.addReply(comments(i).getUserId, comments(i).getId, publication.getId)" enctype="multipart/form-data" method="POST">
					<a href="javascript:void(0)" class="toggle">Reply</a>
					<div class="ninja hide-hood">
						<input class="form-control input-sm" type="text" name="content">
						<button class="btn-xs btn-primary mt-btn" type="submit">Submit</button>
					</div>
				</form>
				<ul class="list-group list-view">
				@for( j <- 0 until commentReply.get(i).size) {
					<li class="list-group-item list-view">
						<h5>@(commentReply.get(i).get(j).getFromUser.getName) <span class="shy"> &rarr; @(commentReply.get(i).get(j).getToUser.getName)</span>
						<small class="right">@(new Date(commentReply.get(i).get(j).getTimestamp).toString)</small>
						</h5>
						<p>@("\t" + commentReply.get(i).get(j).getContent)</p>

						<form class="form" action="@routes.PublicationController.addReply(commentReply.get(i).get(j).getFromUser.getId, comments(i).getId, publication.getId)" enctype="multipart/form-data" method="POST">
							<a href="javascript:void(0)" class="toggle">Reply</a>
							<div class="ninja hide-hood">
								<input class="form-control input-sm" type="text" name="content">
								<button class="btn-xs btn-primary mt-btn" type="submit">Submit</button>
							</div>

						</form>
					</li>
				}
				</ul>
			</li>
		}
		</ul>
	</div>
	<div class="row">
		<form class="form" role="form" action="@routes.PublicationController.addComment(publication.getId)"
		enctype="multipart/form-data" method="POST">
			<div class="form-group">
				<textarea class="form-control" rows="5" name="content"></textarea>
				<button type="submit" class="btn btn-primary mt-btn" >Comment</button>
			</div>
		</form>
	</div>


}
