 @(authors: List[Author])
 @import helper._

 @main("Create New Publication") {
<div class="container">
	<div
		class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<p id="msg"></p>
		<form class="form-signin">
			<h1 class="form-signin-heading" align="center">Paper Registration</h1>

			<div class="form-group">
				<input type="text" name="paperTitle" id="paperTitle" class="form-control"
					placeholder="Title" required oninvalid="setCustomValidity('Please enter the Publication Title');" oninput="setCustomValidity('');">
			</div>
<!-- 			<div class="form-group">
				<input type="text" name="authorList" id="authorList"
					class="form-control" placeholder="Author List">
			</div> -->
			
			<div class="form-group" id="select-wrapper">
				<select class="form-control" id="authorList" name="authorList" placeholder="Author List..."></select>
			</div>
			
			<div class="form-group">
				<input type="text" name="publicationChannel" id="publicationChannel"
					class="form-control" placeholder="Publication Channel">
			</div>
			<div class="form-group">
                <select id="year" name="year" class="form-control">
                     @for(i<-(1950 to 2016).reverse) {
                     	<option value=@i>@i</option>
                     }
                </select>
			</div>
    		<div class="form-group">
    			<input class="btn btn-info" type="file" accept="application/pdf" name="uploadFile" id="uploadFile"/>
    		</div>
    		
    		

			<div class="action row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<input type="submit" class="btn btn-primary btn-block"
						value="Register" id="create">
				</div>
			</div>
			
		</form>

	</div>
</div>
}
