.list-group {
    margin-bottom: 10px;
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.animating {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

.comment-vote .vote-thumb {
    border: none;
    display: block;
    width: 90px;
    height: 22px;
}

.comment-vote .vote-up {
    padding-top: 5px;
    background: url("/assets/img/vote.png") 1px -4px;
}

.comment-vote .vote-down {
    background: url("/assets/img/vote.png") 1px 28px;
}

.comment-vote .voted {
    background-position-x: 88px;
}

.comment-vote .vote-num {
    width: 90px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    text-align: center;
    font-size: 1.4em;
    margin-top: 12px;
}

.comment-vote {
    margin-left:20px;
}

.like{
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("/assets/img/like.png") -3px -4px;
}

p.suggestion-like{
    background:none;
    border:none;
}

.suggestion-like span{
    font-size: 1.2em;
    position: relative;
    left: 6px;
    top: -3px;
}

.suggestion-like .like-voted{
    background-position-x: 33px;
}

.list-group-item {
    word-break: break-word;
}